// COLORS
$c-black: #000000;
$c-white: #ffffff;

$c-pink: #edc1d3;
$c-blue: #91bdec;

$c-purple-10: rgba(136, 76, 178, 0.7);
$c-purple-20: #884cb2;
$c-purple: rgba(243, 71, 122, 0.7);
$c-purple-10: #fa27e8;

$c-orange: #f2994a;
$c-orange-10: rgba(242, 153, 74, 0.2);

$c-yellow: #f2c94c;

$c-green: #219653;
$c-green-10: #00bc4c;

$c-aqua: #56ccf2;
$c-blue-10: rgba(86, 204, 242, 0.2);

$c-red: #eb5757;
$c-red-10: #ed2939;

$c-gray: #dcd9d9;
$c-gray-10: #dfdfdf;
$c-gray-20: #e0e0e0;
$c-gray-30: #1d262c;
$c-gray-40: #ffffff40;

// SHADOW
$shadow-1: rgba(0, 0, 0, 0.25);
$box-shadow: 0 0.4rem 0.4rem $shadow-1;

// TRANSITIONS
$transition: all 0.5s;
